body {
    direction: rtl;
    padding-top: 200px;
}
.table-shadow {
    background-repeat: no-repeat;
    box-shadow: -8px 20px 20px 0px rgba(255,255,255,.1), 4px 7px 20px 0px #ccc;
}
.uk-button-success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.uk-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.Ministry-logo {
    height: 150px;

}
.hr-line {
    border-top: 3px double #8c8b8b;
}

.input-type{
    border: 1px solid #28a745;
    height: 35px;
    border-radius: 5px;
    width: 300px;
    position:absolute;
}

.loginstyle {
    /*border: 2px solid #ff6a00;*/
    height: 400px;
    padding-top: 100px;
    background-color: #e3eeef;
    border-radius: 5px;
    box-shadow: -20px 0px 20px 0px rgba(191, 205, 216, 0.22), 14px 20px 20px 0px #dfdfe2;
}
.headerLogin {
    background: linear-gradient(to top, #0272cc,#00b0ff);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    border-bottom: 2px solid hsl(25, 93%, 48%);
    border-radius:2px 5px 0px 0px;
}
.pmp{
    height:50px;
}